<header class="Encabezado" id="Header">

    <!-- LOGO -->

    <div class="Logotipo">
        <a href="/" title="Ir al Logotipo"><img src="../../../assets/img/logo1.png" alt="Logotipo"></a>
    </div>

    <!-- NAVEGACIÓN -->

    <nav class="Navbar__Nav">

        <ul class="Nav__List">

            <li class="Nav__Item">
                <a href="#Home" class="Nav__Title">Home</a>
            </li>

            <li class="Nav__Item">

                <a href="#Services" class="Nav__Title">Services
                    <i class="fa-solid fa-chevron-down nav__icon"></i>
                </a>

                <ul class="Nav__SubMenu">
                    <li class="SubMenu__Item">
                        <a href="#" class="Nav__Title">Diseño Web</a>
                    </li>

                    <li class="SubMenu__Item">
                        <a href="#" class="Nav__Title">Desarrollo Web</a>
                    </li>

                    <li class="SubMenu__Item">
                        <a href="#" class="Nav__Title">DesarrolloDeApp</a>
                    </li>

                    <li class="SubMenu__Item">
                        <a href="#" class="Nav__Title">Programación</a>
                    </li>

                    <li class="SubMenu__Item">
                        <a href="#" class="Nav__Title">Consultora</a>
                    </li>

                </ul>

            </li>

            <li class="Nav__Item">

                <a href="#" class="Nav__Title">Portafolio
                    <i class="fa-solid fa-chevron-down nav__icon"></i>
                </a>

                <ul class="Nav__SubMenu">
                    <li class="SubMenu__Item">
                        <a href="#" class="Nav__Title">Diseño Web</a>
                    </li>

                    <li class="SubMenu__Item">
                        <a href="#" class="Nav__Title">Desarrollo Web</a>
                    </li>

                    <li class="SubMenu__Item">
                        <a href="#" class="Nav__Title">DesarrolloDeApp</a>
                    </li>

                    <li class="SubMenu__Item">
                        <a href="#" class="Nav__Title">Programación</a>
                    </li>

                    <li class="SubMenu__Item">
                        <a href="#" class="Nav__Title">Consultora</a>
                    </li>

                </ul>

            </li>

            <li class="Nav__Item">

                <a href="#" class="Nav__Title">Blog
                    <i class="fa-solid fa-chevron-down nav__icon"></i>
                </a>

                <ul class="Nav__SubMenu">
                    <li class="SubMenu__Item">
                        <a href="#" class="Nav__Title">Diseño Web</a>
                    </li>

                    <li class="SubMenu__Item">
                        <a href="#" class="Nav__Title">Desarrollo Web</a>
                    </li>

                    <li class="SubMenu__Item">
                        <a href="#" class="Nav__Title">DesarrolloDeApp</a>
                    </li>

                    <li class="SubMenu__Item">
                        <a href="#" class="Nav__Title">Programación</a>
                    </li>

                    <li class="SubMenu__Item">
                        <a href="#" class="Nav__Title">Consultora</a>
                    </li>

                </ul>

            </li>

            <li class="Nav__Item">
                <a href="#" class="Nav__Title">Team</a>
            </li>

            <li class="Nav__Item">
                <a href="#" class="Nav__Title">Contact</a>
            </li>
        </ul>
    </nav>

</header>